.hero-section{
background: linear-gradient(135deg,#0d6efd,#003a8c);
padding:100px 20px;
}

.search-box{
display:flex;
justify-content:center;
gap:10px;
flex-wrap:wrap;
}

.search-input{
max-width:400px;
}

.trust-stars{
font-size:22px;
}

.stars{
color:#FFD700;
filter: blur(0.2px);
}

.trust-text{
font-size:16px;
}

.section-title{
font-weight:700;
}

.job-card{
background:white;
padding:25px;
border-radius:10px;
transition:0.3s;
}

.job-card:hover{
transform:translateY(-5px);
}

.job-company{
color:#666;
}

.job-location{
font-size:14px;
}

.trust-section{
background:#f8f9fa;
padding:70px 0;
}

.trust-box{
background:white;
padding:30px;
border-radius:12px;
}

.icon{
font-size:30px;
color:#ffc107;
margin-bottom:10px;
}

.category-card{
background:#fff3cd;
padding:25px;
text-align:center;
font-weight:600;
border-radius:10px;
cursor:pointer;
transition:0.3s;
}

.category-card:hover{
background:#ffe69c;
}

.blog-section{
background:#f9f9f9;
padding:70px 0;
}

.blog-card{
background:white;
padding:25px;
border-radius:10px;
}

.cta-section{
background:#212529;
color:white;
padding:80px 20px;
}